


# This file contains common pin mappings for the Fysetc Spider board.
# To use this config, the firmware should be compiled for the STM32F446.
# When calling "menuconfig", enable "extra low-level configuration setup"
# and select the "12MHz crystal" as clock reference
# For flashing, write the compiled klipper.bin to memory location 0x08000000


## *** THINGS TO CHANGE/CHECK: ***
## Spider version                       Please search this file for "SpiderVersion" and uncomment the appropriate line for each
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Fine tune E steps                    [extruder] section
############################################################################
## MCU
############################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_180035000A50563046363120-if00
##	If you want to use the Raspberry uart0 to communicate with Spider, 
##  you need to select 'Communication interface' to 'Serial (on USART1 PA10/PA9)' 
##  in 'make menuconfig' when you compile klipper and set the serial as below
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
[display_status]
[pause_resume]

##########################################################
#Sensors
##########################################################
[temperature_sensor raspberry_pi]

sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]

sensor_type: temperature_mcu
min_temp: 0
max_temp: 100 

##########################################################
#includes / excludes
##########################################################
[include mainsail.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[include Line_Purge.cfg]
[include K-ShakeTune/*.cfg]
[exclude_object]
###########################################################################
# Printer
###########################################################################
[printer]

kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_accel_to_decel: 3000
max_z_velocity: 5
max_z_accel: 100

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT (B Motor)
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB14
position_min: -3.0
position_endstop: 0
position_max: 316
homing_speed: 70   #Max 100
second_homing_speed: 3
#homing_retract_dist: 5
#homing_positive_dir: true


##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PE7
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_y]
##	Connected to Y-MOT (A Motor)
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB13
position_min: 0
position_max: 255
position_endstop:0.5
homing_speed: 70  #Max 100
second_homing_speed: 3
#homing_retract_dist: 5
#homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE15
interpolate: True
run_current: 0.55
hold_current: 0.25
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
microsteps: 16
rotation_distance: 49.99
gear_ratio: 80:16
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: probe:z_virtual_endstop
position_max: 240
position_min: -5
homing_speed: 40
second_homing_speed: 3
homing_retract_dist: 5

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD10
interpolate: True
run_current: 0.45
hold_current: 0.25
sense_resistor: 0.110
stealthchop_threshold: 0 # "stealthChop" enabled by adding stealthchop_threshold: 999999


##	In E2-MOT Position
##	Z2 Stepper - Front Right
[stepper_z1]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
microsteps: 16
rotation_distance: 49.99
gear_ratio: 80:16
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC15
interpolate: true
run_current: 0.45
hold_current: 0.25
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
max_extrude_only_distance: 100.0
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4
microsteps: 16
rotation_distance: 4.4222
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PB15
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC0 # TE0 Position
min_temp: 10
max_temp: 280
max_power: 1.0
min_extrude_temp: 170
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
pressure_advance: 0.0235
pressure_advance_smooth_time: 0.040

##	In E0-MOT Position
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.5
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0 # TB Position
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130
pwm_cycle_time: 0.01666

#####################################################################
#	Bltouch
#####################################################################

[bltouch]
sensor_pin: PA0
x_offset: -51                         # modify as needed for bltouch location
y_offset: -2.5 
control_pin: PA2
#z_offset: 0
speed: 15.0
samples: 2
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 3
#stow_on_each_sample: false

[safe_z_home]                         # enable for BLTouch
home_xy_position: 195.5,120.5
speed: 100
z_hop: 10
z_hop_speed: 6

[bed_mesh]
speed: 85
horizontal_move_z: 5
mesh_min: 15,15
mesh_max: 270,230
probe_count: 5,5
mesh_pps: 2,2
fade_start: 1
fade_end: 10
algorithm: bicubic

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: PA13
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 35.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: PA14
max_power: 1.0
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

#[heater_fan exhaust_fan]
##  Exhaust fan - In E2 OUT Positon
#pin: PB3
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#[controller_fan nevermore]
# Nevermore - In E1 OUT Position
#pin: PC8
#kick_start_time: 0.500
#fan_speed: 0.5

#####################################################################
#	LED Control
#####################################################################

#[output_pin caselight ]
##  Chamber Lighting - In 5V-RGB Position
#pin: PD3
#pwm: true
#shutdown_value: 0
#value:100
#cycle_time: 0.01

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################
[z_tilt]
z_positions:
 -30,110
 265,110 
points: 
 95,120
 310,120
speed: 200
horizontal_move_z: 10
retries: 8
retry_tolerance: 0.0100


[idle_timeout]
timeout: 1800

#####################################################################
#	Displays
#####################################################################

#--------------------------------------------------------------------

#[display]
#	mini12864 LCD Display
#lcd_type: uc1701
#cs_pin: PC11
#a0_pin: PD2
#rst_pin: PC10
#encoder_pins: ^PC6,^PC7
#click_pin: ^!PA8
#contrast: 63
#spi_bus: spi1
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

#[neopixel fysetc_mini12864]
#	To control Neopixel RGB in mini12864 display
#pin: PC12
#chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0
#color_order: RGB

#	Set RGB values on boot up for each Neopixel. 
#	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#       SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#       SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#       SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------


#####################################################################
#	Macros
#####################################################################
[screws_tilt_adjust]
screw1: 98, 38
screw1_name: front left screw
screw2: 305,38
screw2_name: front right screw
screw3: 305,211
screw3_name: rear right screw
screw4: 98,211
screw4_name: rear left screw
horizontal_move_z: 10
speed: 60
screw_thread: CW-M4

[input_shaper]
shaper_freq_x: 100
shaper_freq_y: 100
shaper_type: mzv

[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    G0 X0 Y0 Z10 F6000
    BED_MESH_PROFILE save=default
    SAVE_CONFIG

#[gcode_macro END_PRINT]
#gcode:
#    M400                 ; wait for buffer to clear
#	G91                  ; Relative positioning
#	G1 E-2 F2700         ; Retract a bit
#	G1 E-2 Z0.2 F2400    ; Retract and raise Z
#	G1 X15 Y235 F3000   ; Wipe out
#	G1 Z10               ; Raise Z more
#	G28 X15 Y235        ; Present print
#	G90                  ; Absolute positioning
#	M106 S0              ; Turn-off fan
#	M104 S0              ; Turn-off hotend
#	M140 S0              ; Turn-off bed
#	M84 X Y E            ; Disable all steppers but Z

[gcode_macro PRINT_START]
gcode:
 G90 ; use absolute coordinates
 M83 ; extruder relative mode
 M104 S150 ; set temporary nozzle temp to prevent oozing during homing
 M140 S{first_layer_bed_temperature[0]} ; set final bed temp
 M190 S{first_layer_bed_temperature[0]} ; wait for bed temp to stabilize
 G4 S20 ; allow partial nozzle warmup
 G28 ; home all axis and restore leveling
 Z_TILT_ADJUST
 BED_MESH_CLEAR
 BED_MESH_CALIBRATE 
 M104 S{first_layer_temperature[0]} ; set final nozzle temp
 M190 S{first_layer_bed_temperature[0]} ; wait for bed temp to stabilize
 M109 S{first_layer_temperature[0]} ; wait for nozzle temp to stabilize
 BED_MESH_PROFILE LOAD=default
 G1 Z15 F240
 G1 X1.5 Y20 F3000
 G1 Z0.58 F240
 G92 E0
 G1 X1.5 Y100 E15 F1500 ; prime the nozzle
 G1 X1.8 Y100 F5000
 G92 E0
 G1 X1.5 Y10 E15 F1200 ; prime the nozzle
 G92 E0

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
    
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    G92 E0                           ; zero the extruder
    G1 E-4.0 F3600                   ; retract
    G91                              ; relative positioning
    G0 Z{z_safe} F3600               ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    G90                              ; absolute positioning
    G0 X{max_x / 2} Y{max_y} F3600   ; park nozzle at rear
    M117 Finished!

[gcode_macro CANCEL_PRINT]
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
    
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    G92 E0                           ; zero the extruder
    G1 E-4.0 F3600                   ; retract
    G91                              ; relative positioning
    G0 Z{z_safe} F3600               ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    G90                              ; absolute positioning
    G0 X{max_x / 2} Y{max_y} F3600   ; park nozzle at rear
    M117 CANCLED!

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-80 F1000
    RESTORE_GCODE_STATE NAME=M600_state


    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.488
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.085816, -0.113935, -0.098314
#*# 	  -0.118622, -0.117060, -0.112373
#*# 	  -0.120184, -0.103000, -0.107687
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 121.81
#*# max_x = 168.17
#*# min_y = 96.25
#*# max_y = 138.74
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.441
#*# pid_ki = 8.052
#*# pid_kd = 43.525
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.668
#*# pid_ki = 1.833
#*# pid_kd = 740.365
